/* All common css start  */
*{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
/* All common css End  */

#topheader{
    background: #20282D;
}
.topheadercontainer{
    display: flex;
    justify-content: space-between;
    padding: 17px;
  
}
.topheadercontainer  ul  {
    display: flex;
}
/* top header left start */
.topheaderleft ul li a {
color:#ffff;  
margin: 0 5px; 
font-family: "DM Sans", sans-serif;
font-size: 14px;
font-weight: 400;
}
.forhover{
    transition-duration: .4s;
}
.forhover:hover {
border-bottom: 1px solid #ffff;
    }
.topheaderleft ul li a span {
    padding:0  22px 18px;
    font-weight: bold;
    }
/* top header left end */


/* top header right start*/

.topheaderright ul li a {
    color:#ffff;  
    margin: 0 10px; 
    font-family: "DM Sans", sans-serif;
font-size: 14px;
font-weight: 400;
    }
    
    .topheaderright ul li a span {
       padding-left: 10px;
    font-weight: bold;
        }
/* top header right end*/

/* Headercontainer start  */

.headercontainer{
    display: flex;
    justify-content: space-between;
   
}
.headercontainer ul{
    display: flex;
    padding: 20px 0;
}
/* Headercontainer End  */

/* Headercontainer left start  */

/* Headercontainer left End  */

/* Headercontainer middel start  */
.headermiddel ul li a{
    display: flex;
    line-height: 60px;
    color:#20282D;
    padding: 0 25px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
/* Headercontainer middel End  */

/* Headercontainer right start  */
.headerright ul li a{
    display: flex;
    
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.button{
border-radius:15px;
border: none;
color:#ffff;
background: #20282D ;
padding: 18px 40px;
font-family: "DM Sans", sans-serif;
font-size: 16px;
font-weight:bold;
transition-duration: .4s;
}
.button:hover{
    background: #eceaea;
    color:  #20282D;

}
.forborder{
background:  #eceaea;
padding: 20px 20px;
color: #20282D;
border-radius: 10px;
margin: 0 15px;

}
/* Headercontainer right End  */

/* Banner part start  */
#bannerpart{
    padding-top: 280px;
    padding-bottom: 270px;
    background: url(../image/02.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.bannercontent{
    text-align: center;
    color: #ffff;
}
.bannercontent h4{
    font-family: "DM Sans", sans-serif;
font-size: 15px;
font-weight: 400;
text-transform: uppercase;
line-height: 26px;

}
.bannercontent h4 span{
    font-family: "DM Sans", sans-serif;
font-size: 14px;
font-weight: 600;
text-transform: uppercase;
}
.bannercontent h1 {
font-family: "Red Hat Display", sans-serif;
font-size: 80px;
font-weight: 600;
line-height: 96px;
width: 906px;
margin: 0 auto;
padding: 40px 0 30px 0;
}
.bannercontent p{
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 678px;
    margin: 0 auto;
    line-height: 26px;
}
.bannercontent a{
    padding: 25px 40px;
    background: #ffff;
    color: #20282D;
    border-radius: 15px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px;
    transition-duration: .4s;
}
.bannercontent a:hover{
    background: #20282D;
    color:  #eceaea;

}
/* Banner part End  */

/* About part start  */
#aboutpart{
    padding-top: 135px;
}
.aboutsections{
    display: flex;
    justify-content: space-between;
}
.aboutleft{
    width: 50%;
    height: 685px;
    position: relative;
}
.aboutleft img{
    height: 100%;
}
.experience {
    background: #000000;
    position: absolute;
    padding: 61px 20px 51px 20px;
    top: 87px;
    left: -61px;
    border-radius: 20px;
}
.aboutleft .experience h3{
    color: #ffff;
    font-size: 43px;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
}
.aboutleft .experience h4{
    color: #ffff;
    font-size: 22px;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}
.image {
    height: 237px;
    width: 220px;
    position: absolute;
    right: -50px;
    bottom: 40px;
}
.aboutleft image{
    width: 50%;
}
.aboutright{
    width: 45%;
    
}
.aboutright h4 {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    padding-top: 103px;
    color: #000000;
    text-transform: uppercase;
}
.aboutright h3 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 43px;
    font-weight: 600;
    line-height: 57.5px;
    padding-top: 40px;
    padding-bottom: 45px;
    width: 472px;
}
.aboutright p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 40px;
    color: #5D666F;
    width: 654px;
}
.aboutright ul li{
    color: #5D666F;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-right: 5px;
    line-height: 26px;
}
.aboutright ul li i{
    padding-right: 5px;
    color: #20282D;
}
.aboutright ul li a i{
    padding: 20px;
    background: #20282D;
    color: #ffff;
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 16px;
    
}
.callus {
    color: #20282D;
   padding-top: 5px;
    display: flex;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.callus li h5{
    font-family: "Red Hat Display", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.callus img{
    padding-left: 120px;
    width: 223px;

}

/* About part End  */

/* Banner part start  */
/* Banner part End  */

/* Banner part start  */
/* Banner part End  */